@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}
.hero {
  position: absolute;
  background: url("./assets/icons/hero_shapes.png") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  z-index: -1;
  top: 100px;
}
.kits {
  position: absolute;
  background: url("./assets/icons/kits.png") no-repeat;
  background-size: contain;
  top: 220px;
  width: 100%;
  height: 100vh;
  z-index: 10;
}
.service_bg {
  background: url("./assets/icons/service_icon.png") no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 100px;
  position: absolute;
  top: 40px;
}
