@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.home-text::after {
  content: "";
  display: block;
  width: 60%;
  height: 5px;
  background: #4285f4;
  position: absolute;
  left: 20%;
  bottom: -5px;
  border-radius: 20px;
}
