.custom-shadow {
  box-shadow: 0px 2px 40px 0px #ffffff1a;
}
.custom-shadow-link {
  box-shadow: 0px 4px 8px 0px #ffffff1a;
}
.card {
  background: url("../../user/assets/project_bg.png") no-repeat;
  background-size: cover;
}
.container {
  width: 95%;
  margin: 0 auto;
}
